/* 
    Created on : 17-may-2016, 11:43:28
    Author     : cypherbits
*/

body{
    background-color: whitesmoke;
}

noscript{
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-color: whitesmoke;
}

#header{
    z-index: 10;
    margin-top:-20px;
}

#chatArea{
    border:solid 1px grey;
    border-top-left-radius:1em;
    border-top-right-radius:1em;
    background-color:#FFFFFF;
}

#txtChatLog{
    padding: 0.4em;
    overflow-y: auto;
    height: 100%;
}

#txtChatLog .item{
    padding:0.4em;
    font-weight: bold;
}

#txtChatLog .item span.msg{
    font-weight: normal;
}

#txtChatLog .item span.you{
    color:blue;
}

#txtChatLog .item span.stranger{
    color:red;
}

#localVideo, #remoteVideo{
    width: 100%;
    background-color: #333;
}

#txtNewMessage{
    width: 100%;
    height: 100%;
    resize: none;
}

.nopadding{
    padding:0px;
}

.nomargin{
    margin:0px;
}

.adult-text h2, .adult-text h1 a{
    color:#c71c22;
}

.btn-adult{
    background-color: #c71c22 !important;
    color:#FFF !important;
}

#divHover{
    position:absolute; top:0px; background-color:#FFF; width: 100%; height: 100%; right: 0px;
}

#divOrigVideo2.mobile{
    position:absolute; width:24%; height:24%; bottom:16%; right:4%;
}

#leftColumn{
    border-right: solid 1px grey; height: 100%; background-color:whitesmoke;
}

#leftColumn.mobile{
    height: auto !important;
}

#divOrigVideo1, #divOrigVideo2{
    
}

#divInput{
    position: absolute; bottom: .5em;left: .5em;right: .5em;height: 5em;
    background-color:whitesmoke;
}

/**
Custom boostrap
 */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    color: #006cac;
}
h1 small{
    color: #6c6c6c;
}