/* 
    Created on : 17-may-2016, 11:43:28
    Author     : cypherbits
*/

body {
    background-color: whitesmoke;
}

noscript {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
}

#header {
    z-index: 10;
}

#txtChatLog {
    padding: 0.4em;
    overflow-y: auto;
    height: 100%;
}

#txtChatLog .item {
    padding: 0.4em;
    font-weight: bold;
}

#txtChatLog .item span.msg {
    font-weight: normal;
}

#txtChatLog .item span.you {
    color: #0000c6;
}

#txtChatLog .item span.stranger {
    color: #db0000;
}

#localVideo, #remoteVideo {
    width: 100%;
    background-color: #111;
    border-radius: .25em;
}

#txtNewMessage {
    resize: none;
}

.nomargin {
    margin: 0;
}

#divHover {
    position: absolute;
    top: 0;
    background-color: #FFF;
    width: 100%;
    height: 100%;
    right: 0;
    opacity: 0.95;
}

#divOrigVideo2.mobile {
    position: absolute;
    width: 24%;
    height: 24%;
    bottom: 42%;
    right: 4%;
}

#leftColumn {
    height: 100%;
    background-color: #4a4a4a;
    border-top-left-radius: .25em;
    border-bottom-left-radius: .25em;
}

/*#leftColumn.mobile {*/
/*    display: contents;*/
/*}*/

#leftColumn.mobile, #txtChatLog.mobile {
    height: 50% !important;
}

#divInput {
    position: absolute;
    bottom: .1em;
    left: .5em;
    right: .5em;
}

/**
Custom boostrap
 */
h1, h2, .h1, .h2, a {
    color: #006cac;
}

h1 small {
    color: #6c6c6c;
}